/* General Styles */
html {
    background-color: #101010; 
    color: white;
    margin-bottom: 1%;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    background-color: #101010;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .App {
    color: white;
    background-color: #101010;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 2%;
   }
  
  .container {
    background-color: #252525;
    margin: 0 10%;
    border-radius: 8px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: large;
  }
  
  /* Section Styles */
  .profile-card {
    background-color: #252525;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
  }
  
  .profile-title {
    text-align: left;
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .profile-intro {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: left;
    color: #ddd;
  }
  
  .profile-section {
    margin-top: 30px;
  }
  
  .section-title {
    font-size: 1.8em;
    margin-bottom: 10px;
    text-decoration: underline;
    color: #008080; /* Darker and cooler shade */
    text-align: left;
  }
  
  .section-subtitle {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #046b6b; /* Darker and cooler shade */
    text-align: left;
  }
  
  .section-list {
    list-style: none;
    padding: 0;
    text-align: left;
  }
  
  .section-list li {
    margin-left: 1%;
    padding: 1px;
    margin-bottom: 10px;
    color: #e0e0e0;
  }
  
  .NormalLink {
    color: #007575; /* Darker and cooler shade */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .NormalLink:hover {
    color: #005e5e; /* Even darker on hover */
  }
  
  /* Sub Navigation */
  .sub-nav {
    margin-bottom: 20px;
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: calc(100% - 20%);
    margin: 0 auto;
  }
  
  .sub-nav a {
    padding: 14px 16px;
    text-decoration: none;
    color: #f2f2f2;
    font-size: 1.2em;
    flex-grow: 1;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .sub-nav a:hover, .a-pressed {
    background-color: #1a1a1b;
    color: white;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .App {
      font-size: 14px;
    }
  
    .container, .profile-card {
      margin: 0 5%;
      padding: 15px;
    }
  
    .sub-nav {
      width: 100%;
    }
  
    .sub-nav a {
      padding: 10px;
      font-size: 14px;
    }
  }
  